<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{ subject }}</title>
</head>
<body>

<p>
{{ (duns ~ 'email_verification.texts.welcome')|trans }}
</p>

<p>
{{ (duns ~ 'email_verification.texts.confirm_email')|trans }}<br/>
<a href="{{ url(register_confirm_route, {token: token}) }}">{{ (duns ~ 'email_verification.labels.confirm_link')|trans }}</a>
</p>

<p>
{{ (duns ~ 'email_verification.texts.copy_link')|trans }}<br/>
<pre>{{ url(register_confirm_route, {token: token}) }}</pre>
</p>

<p>
<a href="{{ url(login_route) }}">{{ (duns ~ 'email.labels.login_link')|trans }}</a>
</p>

</body>
</html>