<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{ subject|e }}</title>
</head>
<body>

<p>
{{ (duns ~ 'email_recover_password.texts.welcome')|trans|e }}
</p>

<p>
{{ (duns ~ 'email_recover_password.texts.change_password')|trans|e }}<br/>
<a href="{{ url(recover_password_confirm_route, {token: token})|e }}">{{ (duns ~ 'email_recover_password.labels.change_password_link')|trans|e }}</a>
</p>

<p>
{{ (duns ~ 'email_recover_password.texts.copy_link')|trans|e }}<br/>
<pre>{{ url(recover_password_confirm_route, {token: token})|e }}</pre>
</p>

<p>
<a href="{{ url(login_route)|e }}">{{ (duns ~ 'email.labels.login_link')|trans|e }}</a>
</p>

</body>
</html>