{% extends uns ~ '/front/layout.html.twig' %}

{% block user_register %}

{% if token_type is defined %}
<p>
{% if token_type == 'require_email_verification' %}
{{ (duns ~ 'register_confirm.texts.require_email_verification')|trans }}<br/>
{{ (duns ~ 'register_confirm.texts.email_verification')|trans }}
{% elseif token_type == 'email_verification' %}
{{ (duns ~ 'register_confirm.texts.email_verification')|trans }}
{% endif %}
</p>
{% endif %}

{% if _login_route %}
<p>
<a href="{{ path(_login_route) }}">{{ (duns ~ 'register_confirm.labels.login')|trans }}</a>
</p>
{% endif %}

{% endblock user_register %}